# SQL: Lesson 1. INTRO

**1. Итак, начнем с самого простого, чтобы разогнаться.**
**Как расшифровывается SQL?**

* Sequel Query Language
* **Structured Query Language**
* Simple Query Language
* Search and Query Language

**2. Соотнесите оператор с его описанием:**
 
* ORDER BY - **сортирует результирующую таблицу**
* SELECT - **указывает, какие поля таблицы необходимо вывести в результирующую таблицу**
* LIMIT - **позволяет извлечь определенное количество строк**
* FROM - **указывает, из какой таблицы будут взяты нужные поля**
* HAVING - **фильтрация данных, аналогично WHERE, при использовании GROUP BY, или применительно к результирующей таблице**
* GROUP BY - **агрегирует данные по какому-либо полю**
* WHERE - **фильтрует таблицу по значению(ям) поля(ей)**

**3. Расположите операторы SQL в правильном порядке использования в запросе:**

1. **SELECT [перечисление полей]**
2. **FROM [имя таблицы]**
3. **WHERE [имя поля] (=, >, <,) [значение поля]**
4. **GROUP BY [перечисление поле, по которым происходит группировка]**
5. **HAVING [имя агрегированного поля] (=, >, <,) [значение поля]**
6. **ORDER BY [поле] DESC (ASC)**
7. **LIMIT [количество извлекаемых строк]**

**4. Имеется следующая таблица products:**


| Price   | BuyDate    | ItemID     | TotalVolume |
|---------|------------|------------|-------------|
| 4.33    | 2015-12-27 | 468f0f4e71 | 64236.60    |
| 1.35    | 2015-12-29 | 468f0f4e71 | 51039.75    |
| 52      | 2015-03-10 | 3e6ad06df4 | 10992       |
| 1.70    | 2016-12-06 | d5389a02cc | 84843.44    |
| 21.33   | 2015-01-31 | d5389a02cc | 26374       |
| 2.90    | 2019-10-25 | d5389a02cc | 117.70      |
| 0.99    | 2015-09-18 | d5389a02cc | 743138.90   |

**С помощью какого запроса можно вывести её целиком? Обратите внимание, что правильных ответов может быть несколько.**

* **SELECT * FROM products**
* SELECT all FROM products
* **SELECT Price, BuyDate, ItemID, TotalVolume FROM products**
* SELECT star FROM products

**5. В этом задании и последующих мы будем работать с таблицей checks, которая содержит данные о покупках в интернет-магазине крупной розничной сети по дням:**

* UserID — идентификатор пользователя;
* Rub — суммарный чек пользователя на дату;
* BuyDate — дата, за которую собрана статистика.

**Чтобы взглянуть на колонки этой таблицы и получить первое представление о ее данных, выведите первые 10 строк таблицы checks**
```sql
SELECT * 
FROM checks
LIMIT 10
```

**6. Давайте посмотрим на топ-10 платежей по сумме в рублях. Выведите первые 10 строк таблицы checks, но теперь отсортировав значения Rub по убыванию (DESC).**
```sql
SELECT *
FROM checks
ORDER BY Rub DESC
LIMIT 10
```

**7. Для работы бывает удобно переименовать колонки таблицы. Выведите первые 15 строк таблицы checks, переименовав поле Rub в Revenue и используя сортировку по возрастанию столбца UserID. Разместите столбцы в запросе в следующем порядке revenue, buydate, userid.**
```sql
SELECT 
    Rub AS revenue,
    BuyDate,       
    UserID       
FROM checks
ORDER BY 
    UserID ASC
LIMIT 15
```

**8. Проверьте, данные за какой период имеются в таблице. Для этого используйте MIN и MAX по колонке BuyDate. Колонки с минимальным и максимальным значением назовите MinDate и MaxDate соответственно.**
```sql
SELECT 
    MIN(BuyDate) AS MinDate,
    MAX(BuyDate) AS MaxDate       
FROM checks
```

**9. Предположим, что перед нами стоит задача отобрать несколько групп пользователей по разным критериям, чтобы отправить им персональные сообщения об акциях. Например, первым 10 пользователям, зарегистрировавшимся на сайте (чем раньше зарегистрировался пользователь, тем меньше его UserID), мы хотим подарить скидку на следующую покупку.**

**Выведите UserID 10 уникальных покупателей, используя оператор DISTINCT. Таблицу отсортируйте по UserID в порядке возрастания.**

```sql
SELECT 
    DISTINCT
        UserID
FROM checks 
ORDER BY
    UserID ASC
LIMIT 10
```

**10. Мы хотим сформировать новую акцию к 8 марта, и для этого нас интересуют самые крупные покупки, совершенные в этот день в прошлом году.**

**Выведите информацию о продажах, которые были совершены 8 марта 2019 года, используя блок WHERE применительно к полю BuyDate. Значения отсортируйте по убыванию Rub. Количество строк для извлечения – 10. Дата хранится в таблице в текстовом виде и имеет формат год-месяц-день (‘YYYY-MM-DD’). Например: 1 декабря 2018 года записывается как '2018-12-01'.**
```sql
SELECT 
    Rub,
    BuyDate,      
    UserID    
FROM checks
WHERE 
    BuyDate = '2019-03-08'
ORDER BY
    Rub DESC
LIMIT 10
```

**11. Мы предполагаем, что пользователи, которые совершили крупные покупки 1 сентября в прошлом году - родители школьников, и в следующем году можно будет подготовить для них акцию на группу товаров.**

**Давайте применим WHERE к полям BuyDate и Rub, и посмотрим на уникальные id покупателей из checks, которые совершили покупку 1 сентября 2019 года на сумму более 2 000 рублей. Значения отсортируйте по убыванию UserID.**

```sql
SELECT 
    DISTINCT
        UserID
FROM checks
WHERE 
        Rub > 2000 
    AND BuyDate = '2019-09-01'  
ORDER BY 
    UserID DESC
```