# Mini project № 1
### Analize reservation hotels. Анализ данных о бронировании отелей

#### METADATA
- Hotel – тип отеля (City Hotel или Resort Hotel)  
- Is canceled – бронирование было отменено (1) или нет (0); неотмен- нное считается успешным
- Lead time – количество дней, прошедших между датой бронирования и датой прибытия  
- Arrival full date – полная дата прибытия
- Arrival date year – год прибытия  
- Arrival date month – месяц прибытия  
- Arrival date week number – номер недели прибытия
- Arrival date day of month – день прибытия
- Stays in weekend nights – количество выходных (суббота или воскресенье), которые гость забронировал для проживания в отеле
- Stays in week nights – количество дней (с понедельника по пятницу), которые гость забронировал для проживания в отеле
- Stays total nights – общее число забронированных ночей (сумма двух предыдущих колонок)
- Adults – число взрослых
- Children – число детей
- Babies – число младенцев 
- Meal – выбранный тип питания
- Country – страна происхождения клиента
- Reserved room type – тип зарезервированного номера
- Assigned room type – тип полученного номера (может отличаться от забронированного)
- Customer type – тип бронирования
- Reservation status – значение последнего статуса брони: Canceled – было отменено клиентом; Check-Out – клиент зарегистрировался, но уже покинул отель; No-Show – клиент не зарегистрировался и сообщил администрации отеля причину
- Reservation status date – дата обновления статуса

#### TASKS
1. Импортируйте библиотеку pandas как pd. Загрузите датасет bookings.csv с разделителем ;. Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные.

2. Приведите названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания.

3. Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5.

4. На сколько ночей в среднем бронируют отели разных типов?

5. Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?

6. Проанализируйте даты запланированного прибытия. 
 - На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017?
 
 - Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов.
 
7. Посмотрите на числовые характеристики трёх переменных: adults, children и babies. Какая из них имеет наибольшее среднее значение?

8. Создайте колонку total_kids, объединив children и babies. Отели какого типа в среднем пользуются большей популярностью у клиентов с детьми?

9. Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), и False – в противном случае. Посчитайте отношение количества ушедших пользователей к общему количеству клиентов, выраженное в процентах (churn rate). Укажите, среди какой группы показатель выше.

++++++++++++++++++++++++++++++++++++

1. Импортируйте библиотеку pandas как pd. Загрузите датасет bookings.csv с разделителем ;. Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные.

In [5]:
import pandas as pd

In [7]:
url = "https://stepik.org/media/attachments/lesson/360344/bookings.csv"
bookings = pd.read_csv(url, sep= ';')

In [104]:
bookings.shape

(119390, 21)

In [105]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [879]:
bookings.dtypes.value_counts()

object     10
int64      10
float64     2
bool        1
dtype: int64

In [10]:
bookings.head(7)

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

-------------------
2. Приведите названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания.

In [107]:
bookings.columns

Index(['Hotel', 'Is Canceled', 'Lead Time', 'arrival full date',
       'Arrival Date Year', 'Arrival Date Month', 'Arrival Date Week Number',
       'Arrival Date Day of Month', 'Stays in Weekend nights',
       'Stays in week nights', 'stays total nights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'Reserved Room Type', 'Assigned room type',
       'customer type', 'Reservation Status', 'Reservation status_date'],
      dtype='object')

In [108]:
# переименование колонок вручную
bookings = bookings.rename(columns=({
    'Hotel': 'hotel', 'Is Canceled': 'is_canceled', 'Lead Time': 'lead_time', 
    'arrival full date': 'arrival_full_date', 'Arrival Date Year': 'arrival_date_year', 
    'Arrival Date Month': 'arrival_date_month','Arrival Date Week Number': 'arrival_date_week_number',
    'Arrival Date Day of Month': 'arrival_date_day_of_month', 'Stays in Weekend nights' : 'stays_in_weekend_nights',
    'Stays in week nights' : 'stays_in_week_nights', 'stays total nights': 'stays_total_nights',
    'Adults': 'adults', 'Children': 'children','Babies' : 'babies', 
    'Meal': 'meal', 'Country': 'country', 'Reserved Room Type': 'reserved_room_type',
    'Assigned room type' : 'assigned_room_type','customer type': 'customer_type',
    'Reservation Status':'reservation_status', 'Reservation status_date': 'reservation_status_date'
}))

In [109]:
bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

In [17]:
# автоматическое переименование колонок

# функция replace() - заменила пробелы " " на ";"  Пр: 'Arrivsol Date Yersds'.replace(' ', '_') = Arrivsol_Date...
# функция lower() - заменила Большие буквы на нижний регистр Пр: 'Arrivsol Date Yersds'.lower() = arrivsol date...

def to_lower_underscore(name):      # создание функции по уменьшению регистра и замены пробелов на андерскор
    name = name.lower().replace(' ', '_')
    return name

bookings = bookings.rename(columns = to_lower_underscore)
bookings

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

------------------------
3. Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5.

Is canceled – бронирование было отменено (1) или нет (0)
Country – страна происхождения клиента

In [18]:
bookings.query(" is_canceled == 0 ")

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [19]:
max_success_countrys = bookings.query(" is_canceled == 0 ")\
                        .country\
                        .value_counts()[:5]    # вывести первые пять строк

In [20]:
max_success_countrys

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

------------------------
4. На сколько ночей в среднем бронируют отели разных типов?

- Hotel – тип отеля (City Hotel или Resort Hotel)  
- Stays total nights - число забронированных ночей

In [21]:
mean_nights_hotels = bookings.groupby('hotel')\
                    .agg({'stays_total_nights':'mean'})\
                    .round(2)

In [22]:
mean_nights_hotels

              stays_total_nights
hotel
City Hotel                  2.98
Resort Hotel                4.32

-------------------------
5. Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?

In [23]:
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [24]:
count_room_changes = bookings.query("reserved_room_type != assigned_room_type")\
                    .shape[0]
count_room_changes

14917

----------------------------
6. Проанализируйте даты запланированного прибытия. 
 - 6.1 На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017?
 
 - 6.2 Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов.

6.1
успешно оформляли это:
- is_canceled – бронирование было отменено (1) или нет (0) 

год и месяц это:
- arrival_date_year
- arrival_date_month

In [25]:
profit_month_2016 = bookings.query("is_canceled == 0" and "arrival_date_year == 2016")\
                    .arrival_date_month\
                    .value_counts()\
                    .idxmax(0)
profit_month_2016

'October'

In [26]:
profit_month_2017 = bookings.query("is_canceled == 0" and "arrival_date_year == 2017")\
                    .arrival_date_month\
                    .value_counts()\
                    .idxmax(0)

if profit_month_2016 != profit_month_2017:
    print("'MVP месяц 2016' по количеству заказов в 2017-ом изменился, теперь это {}".format(profit_month_2017))
else:
    print("'MVP месяц 2016' по количеству заказов в 2017-ом не изменился - это {}".format(profit_month_2016))

'MVP месяц 2016' по количеству заказов в 2017-ом изменился, теперь это May

-----------------
6.2 Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов.

In [32]:
# мой косожопый вариант без сортировки
max_cancel_months_over = bookings.groupby(['arrival_date_year', 'arrival_date_month', 'is_canceled'])\
                        .agg({'arrival_date_month':'count'})\
                        .query("hotel == 'City Hotel'" and "is_canceled == 1")
max_cancel_months_over

                                                  arrival_date_month
arrival_date_year arrival_date_month is_canceled
2015              August             1                          1598
                  December           1                           973
                  July               1                          1259
                  November           1                           486
                  October            1                          1732
                  September          1                          2094
2016              April              1                          2061
                  August             1                          1825
                  December           1                          1398
                  February           1                          1337
                  January            1                           557
                  July               1                          1499
                  June               1                          2096
                  March              1                          1477
                  May                1                          1915
                  November           1                          1636
                  October            1                          2514
                  September          1                          2022
2017              April              1                          2463
                  August             1                          1816
                  February           1                          1359
                  January            1                          1250
                  July               1                          1984
                  June               1                          2439
                  March              1                          1672
                  May                1                          2762

In [30]:
# нормальный вариант + сортировка
max_cancel_months_over = (
                            bookings
                                .query(' (hotel == "City Hotel") and (is_canceled == 1) ')
                                .groupby('arrival_date_year')
                                .arrival_date_month
                                .value_counts()
                        )
max_cancel_months_over

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: arrival_date_month, dtype: int64

--------------------------
7. Посмотрите на числовые характеристики трёх переменных: adults, children и babies. Какая из них имеет наибольшее среднее значение?

In [462]:
adults_mean = bookings.adults.mean().round(2)         # среднее по взрослым

children_mean = bookings.children.mean().round(2)     # среднее по детям

babies_mean = bookings.babies.mean().round(2)         # среднее по младенцам

means_family = {'взрослые':adults_mean, 'дети':children_mean, 'младенцы':babies_mean}   # словарь со всеми средними

max_mean = max(means_family.values())                 # максимальное значение средних из словаря

max_category_mean = {m:n for m, n in means_family.items()   # находит макс значение в словаре и выводит пару - ключ:значение
            if n == max_mean}                              

print('\
Наибольшее среднее значение между числом взрослых, детей и младенцев приходится на категорию - "{}", {} чел.'\
        .format(*list(max_category_mean), max_mean))         # * перед list - выдает чистое значение, без ['скобок']

Наибольшее среднее значение между числом взрослых, детей и младенцев приходится на категорию - "взрослые", 1.86 чел.

8. Создайте колонку total_kids, объединив children и babies. Отели какого типа в среднем пользуются большей популярностью у клиентов с детьми?

In [466]:
bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

In [530]:
bookings['total_kids'] = bookings['children'] + bookings['babies']   # создание колонки и склеивание для неё значений

In [544]:
# Мой вариант:

top_family_hotel = (
                    bookings
                            .query(' total_kids >= 1 ')
                            .groupby('hotel')
                            .total_kids.mean()
                            .round(2)
                            .idxmax()
                    )
top_family_hotel

'Resort Hotel'

In [545]:
# 2ой вариант от преподавателя

bookings.groupby('hotel')\
        .agg({'total_kids':'mean'})\
        .round(2)

              total_kids
hotel
City Hotel          0.10
Resort Hotel        0.14

_____________________
9. Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), и False – в противном случае. 

    Посчитайте отношение количества ушедших пользователей к общему количеству клиентов, выраженное в процентах (churn rate). 
    
    Укажите, среди какой группы показатель выше.

In [917]:
# Пример выведение числа с заданной точностью "n" (кол-во знаков после запятой)

a = 12
n = 2
print(f'{a:.{n}f}%')

12.00%

In [894]:
bookings['has_kids'] = bookings.total_kids > 0
bookings.head(2)

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids,has_kids
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0,False
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0,False

In [915]:
no_kids_churn = bookings\
                    .query('is_canceled == 1 and has_kids == False')\
                    .shape[0]/bookings\
                                .query('has_kids == False').shape[0]
no_kids_churn = round(no_kids_churn*100, 2)

print("Уровень отткока среди бездетных = {}%".format(no_kids_churn))

Уровень отткока среди бездетных = 37.22%

In [914]:
whith_kids_churn = bookings\
                    .query('is_canceled == 1 and has_kids == True')\
                    .shape[0]/bookings\
                                .query('has_kids == True').shape[0]
whith_kids_churn = round(whith_kids_churn*100, 2)
print("Уровень отткока среди семей с детьми = {}%".format(whith_kids_churn))

Уровень отткока среди семей с детьми = 34.92%

In [925]:
if no_kids_churn > whith_kids_churn:
    print("Уровень отткока среди семей с детьми - {}%, а среди бездетных - {}%.\
    Среди семей С ДЕТЬМИ отток больше!".format(no_kids_churn, whith_kids_churn))
elif no_kids_churn == whith_kids_churn:
    print("Уровень отткока среди семей с детьми и среди бездетных одинаков и равен {}%".format(no_kids_churn))
else:
    print("Уровень отткока среди семей с детьми - {}%, а среди бездетных - {}%. Среди БЕЗДЕТНЫХ семей отток больше!".format(no_kids_churn, whith_kids_churn))

Уровень отткока среди семей с детьми - 37.22%, а среди бездетных - 34.92%.    Среди семей С ДЕТЬМИ отток больше!